@{
    ViewData["Title"] = "About";
}
<div class="section-empty">
    <div class="container content">
        <div class="row vertical-row">
            <div class="col-md-3 col-sm-12">
                <h1><span class="text-color">Our company</span> <br />is growing fast thanks to you</h1>
                <p>
                    Qaimaq specialists implement solutions from software manufacturers, skilfully integrating current complex customer systems with new developed modules. Any tasks from the moment of analysis of future systems to the time of security testing, we can help to build an effective business solution offering services: IT outsourcing, IT audit&consulting and data security.
                </p>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <a class="img-box" href="#">
                            <img src="~/images/About/long-1.jpg" />
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a class="img-box" href="#">
                            <img src="../images/image-5.jpg" alt="">
                        </a>
                        <ul class="list-texts text-s">
                            <li><b>Location</b>  Almaty, 050000, Kazakhstan</li>
                            <li><b>Business Development Manager</b>   Roman Makarov</li>
                        </ul>
                        <p>
                            We aspire to create and deliver effective solutions that will make our customers more productive
                        </p>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <h1><span class="text-color">Microsoft</span> about us</h1>
                        <p>
                            "Sapa - Autoparts" - a company engaged in the retail sale of spare parts and accessories for heavy equipment, implemented 1C through the Microsoft Azure platform and as a result received a full cloud service, available not only on personal computers, but also on other devices - tablets and smartphones .
                        </p>
                        <p>
                            Employees can now work in real-time with databases, track inventory in warehouses located in another part of the city. Very valuable was the opportunity to use the most advanced technological solutions for remote access. 
                        </p>
                        <p><a href="https://customers.microsoft.com/en-us/story/sapa-autoparts-retail-and-consumer-goods-azure-cloud-services-ru">Continue reading on Microsoft website... </a></p>

                    </div>
                </div>
            </div>
        </div>
        <hr class="space m" />
        <div class="section-empty">
            <div class="container content">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <img src="~/images/About/map.jpg" />
                    </div>
                    <div class="col-md-1 hidden-sm">
                    </div>
                    <div class="col-md-5 col-sm-6">
                        <div class="title-base text-left">
                            <hr />
                            <h2>We work in any locations</h2>
                            <p>Geography of our projects</p>
                        </div>
                        <ul class="list-texts list-texts-justified" data-anima="fade-bottom" data-timeline="asc">
                            <li class="anima"><b>Almaty</b> <span>Office</span></li>
                            <li class="anima"><b>Astana</b> <span>Openning soon</span></li>
                            <li class="anima"><b>Atyrau</b> <span>Openning soon</span></li>
                            <li class="anima"><b>Aktau</b> <span>Field Projects</span></li>
                            <li class="anima"><b>Shymkent</b> <span>Field Projects</span></li>
                            <li class="anima"><b>Taraz</b> <span>Field Projects</span></li>
                            <li class="anima"><b>Kostanay</b> <span>Field Projects</span></li>
                            <li class="anima"><b>Karaganda</b> <span>Field Projects</span></li>
                            <li class="anima"><b>Pavlodar</b> <span>Field Projects</span></li>
                            <li class="anima"><b>Petropavlovsk</b> <span>Field Projects</span></li>
                            <li class="anima"><b>Kokshetau</b> <span>Field Projects</span></li>
                            <li class="anima"><b>Uralsk</b> <span>Field Projects</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row proporzional-row">
            <div class="col-md-6 col-sm-12">
                <a class="img-box inner img-bubble" href="#">
                    <span><img src="../images/image-2.jpg" alt=""></span>
                    <span class="caption-box" data-anima="show-scale">
                        <span class="caption">
                            An company's ability about learning, and translate that learning into action rapidly, is the ultimate competitive advantage.
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-md-6 col-sm-12 boxed-inverse">
                <div class="list-items">
                    <div class="list-item">
                        <div class="row">
                            <div class="col-md-9">
                                <h3>Superior technologies</h3>
                                <p>construction industry has contracted for the first time since the immediate aftermath.</p>
                            </div>
                            <div class="col-md-3">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="row">
                            <div class="col-md-9">
                                <h3>Advanced solutions</h3>
                                <p>The hat places the industry below the 50-point mark separating growth from contraction.</p>
                            </div>
                            <div class="col-md-3">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="row">
                            <div class="col-md-9">
                                <h3>Expert team</h3>
                                <p>The lower volumes of work reflect a marked decline.</p>
                            </div>
                            <div class="col-md-3">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="row">
                            <div class="col-md-9">
                                <h3>Friendly support</h3>
                                <p>Six months amid worries over the immediate.</p>
                            </div>
                            <div class="col-md-3">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
