@{
    ViewData["Title"] = "About";
}
<div class="section-empty">
    <div class="container content">
        <div class="row vertical-row">
            <div class="col-md-3 col-sm-12">
                <h1><span class="text-color">Our company</span> <br />is growing fast thanks to you</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                    Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate velit esse cillum dolore.
                </p>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <a class="img-box" href="#">
                            <img src="~/images/long-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a class="img-box" href="#">
                            <img src="~/images/image-5.jpg" alt="">
                        </a>
                        <ul class="list-texts text-s">
                            <li><b>Location</b>  San Francisco, Silicon Valley, United States</li>
                            <li><b>Architect</b>   Jason & Perry</li>
                        </ul>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <p>
                            Ante aliquet, laoreet dis sed eiusmod, inventore necessitatibus! Cupidatat adipisicing, lectus molestiae.
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip velit esse cillum dolore eu fugiat nulla pariature perdonando evere. ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariature perdonando evere.
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="space m" />
        <div class="section-empty">
            <div class="container content">
                <div class="row">
                    <div class="col-md-7 col-sm-6">
                        <img src="~/images/map.svg" alt="" />
                    </div>
                    <div class="col-md-1 hidden-sm">
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="title-base text-left">
                            <hr />
                            <h2>We are worldwide</h2>
                            <p>International offices</p>
                        </div>
                        <ul class="list-texts list-texts-justified" data-anima="fade-bottom" data-timeline="asc">
                            <li class="anima"><b>New York</b> <span>United States</span></li>
                            <li class="anima"><b>Philadelphia</b> <span>United States</span></li>
                            <li class="anima"><b>Boston</b> <span>United States</span></li>
                            <li class="anima"><b>Brasilia</b> <span>Brasil</span></li>
                            <li class="anima"><b>Milano</b> <span>Italy</span></li>
                            <li class="anima"><b>Rome</b> <span>Italy</span></li>
                            <li class="anima"><b>Moscow</b> <span>Russian Federation</span></li>
                            <li class="anima"><b>Sidney</b> <span>Australia</span></li>
                            <li class="anima"><b>Tokyo</b> <span>Japan</span></li>
                            <li class="anima"><b>Shanghai</b> <span>China</span></li>
                            <li class="anima"><b>Paris</b> <span>France</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row proporzional-row">
            <div class="col-md-6 col-sm-12">
                <a class="img-box inner img-bubble" href="#">
                    <span><img src="~/images/image-2.jpg" alt=""></span>
                    <span class="caption-box" data-anima="show-scale">
                        <span class="caption">
                            An company's ability about learning, and translate that learning into action rapidly, is the ultimate competitive advantage.
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-md-6 col-sm-12 boxed-inverse">
                <div class="list-items">
                    <div class="list-item">
                        <div class="row">
                            <div class="col-md-9">
                                <h3>Superior technologies</h3>
                                <p>construction industry has contracted for the first time since the immediate aftermath.</p>
                            </div>
                            <div class="col-md-3">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="row">
                            <div class="col-md-9">
                                <h3>Advanced solutions</h3>
                                <p>The hat places the industry below the 50-point mark separating growth from contraction.</p>
                            </div>
                            <div class="col-md-3">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="row">
                            <div class="col-md-9">
                                <h3>Expert team</h3>
                                <p>The lower volumes of work reflect a marked decline.</p>
                            </div>
                            <div class="col-md-3">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="row">
                            <div class="col-md-9">
                                <h3>Friendly support</h3>
                                <p>Six months amid worries over the immediate.</p>
                            </div>
                            <div class="col-md-3">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
