@{
    ViewData["Title"] = "Contact";
}
@{
    ViewBag.Title = "Contact";
    ViewBag.CurrentPage = "Contact";
}


@*<link rel="stylesheet" href="~/css/skin.css">*@

<div class="section-map box-middle-container row-20">
    <div class="google-map" data-coords="43.261991, 76.950793" data-zoom="17" data-skin="gray" data-marker-pos-top="30" data-marker-pos="col-md-6-right" data-marker="../images/map-icon.png"></div>
    <div class="overlaybox overlaybox-side overlaybox">
        <div class="container content">
            <div class="row">
                <div class="col-md-6 overlaybox-inner box-middle" data-anima="fade-left">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="text-m text-normal">Yellow Business</h4>
                            <p class="text-left">
                                Ligula aenean, voluptatem a lorem laoreet quod dolores acnatoque modiignani merto inventore.
                            </p>
                            <hr class="space s" />
                            <div class="btn-group btn-group-icons" role="group">
                                <a class="btn btn-default">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="btn btn-default">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a class="btn btn-default">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a class="btn btn-default">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <hr class="space visible-xs" />
                            <h4 class="text-m text-normal">Contacts</h4>
                            <p>
                                05, Martin Street A598, Polo Alto,<br /> San Francisco
                                United States of America
                            </p>
                            <ul class="fa-ul">
                                <li><i class="fa-li fa-envelope fa"></i> hello@company.com</li>
                                <li><i class="fa-li fa-phone-square fa"></i> (123) 456-78910</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
</div>
<div class="section-empty">
    <div class="container content">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-left">
                <div class="title-base text-left">
                    <hr />
                    <h2>Keep in touch</h2>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                    Utenim ad minim veniam quis nostrudo.
                </p>
                <hr class="space s" />
                <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Name</p>
                            <input id="name" name="name" placeholder="" type="text" class="form-control form-value" required>
                        </div>
                        <div class="col-md-6">
                            <p>Email</p>
                            <input id="email" name="email" placeholder="" type="email" class="form-control form-value" required>
                        </div>
                    </div>
                    <hr class="space xs" />
                    <div class="row">
                        <div class="col-md-12">
                            <p>Messagge</p>
                            <textarea id="messagge" name="messagge" placeholder="" class="form-control form-value" required></textarea>
                            <hr class="space s" />
                            <button class="btn-sm btn" type="submit"><i class="fa fa-envelope-open-o"></i>Send messagge</button>
                        </div>
                    </div>
                    <div class="success-box">
                        <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                    </div>
                    <div class="error-box">
                        <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="advs-box advs-box-top-icon boxed-inverse no-icon">
                            <h3>Timetable</h3>
                            <p>
                                From monday to friday from 9am to 12am and from 3pm to 8pm. Saturday from 8am to 8pm. Sunday closed.
                            </p>
                        </div>
                        <hr class="space s" />
                        <ul class="fa-ul ul-squares">
                            <li>Building or infrastructure</li>
                            <li>Mass civil or heavy engineering</li>
                            <li>Construction delays and bidding</li>
                            <li>Financial advisors</li>
                            <li>Standard Industrial Classification</li>
                        </ul>
                    </div>
                    <div class="col-md-6 ">
                        <div class="advs-box advs-box-top-icon boxed-inverse no-icon">
                            <h3>Special offerts</h3>
                            <p>
                                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacussano vento.
                            </p>
                        </div>
                        <hr class="space s" />
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed d luctus placerat scelerisque o eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrudoat sceleris.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Google Map js -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAV-beQ5SMsk8Mk66Zkf1CLP4HtvJJFmsA"></script>
<script>
    function initialize() {
        var mapOptions = {
            zoom: 16,
            scrollwheel: false,
            center: new google.maps.LatLng(43.261975, 76.950881)
        };
        var map = new google.maps.Map(document.getElementById('googleMap'),
            mapOptions);
        var marker = new google.maps.Marker({
            position: map.getCenter(),
            animation: google.maps.Animation.BOUNCE,
            icon: '..//images/map-icon.png',
            map: map
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>






@section scripts {
    <script asp-src-include="~/js/google.maps.min.js">
    </script>
}
<i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>