@{
    ViewData["Title"] = "Home";
}
@{
    ViewBag.Title = "Home";
    ViewBag.CurrentPage = "Home";
}
<div class="section-bg-color" style="z-index: 1;">
    <div class="container content" style="padding-top: 150px;padding-bottom: 0px;">
        <hr class="space m" />
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <h2 class="text-normal">Our website is unavalable now<br />We need to change several pages on it.</h2>
                <p class="text-color text-normal text-m no-margins">Stay with us and check our new design first!</p>
                <hr class="space s" />
                <hr />
                <hr class="space s" />
                <div class="row text-center">
                    <h4>COUNTDOWN</h4>
                    <hr class="space m" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="countdown" data-time="04/30/2018 10:30:00" data-utc-offset="-5">
                                <span class="days countdown-values text-l">00</span><span class="countdown-label"> Days</span>
                                <span class="hours countdown-values text-l">00</span><span class="countdown-label"> Hours</span>
                                <span class="minutes countdown-values text-l">00</span><span class="countdown-label"> Minutes</span>
                                <span class="seconds countdown-values text-l">00</span><span class="countdown-label"> Seconds</span>
                            </div>
                        </div>
                    </div>
                    <hr class="space" />
                </div>
            </div>
            <div class="col-md-4 hidden-sm visible-xs pull-right" data-anima="fade-right">
                <hr class="space m visible-sm" />
                <img src="~/images/Home/qaimaq-homebanner.jpg" title="qaimaq business intelligence" />
            </div>
        </div>
        <hr class="space m" />
    </div>
</div>
