<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Qaimaq | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/js/flexslider/flexslider.css" rel="stylesheet" />
    <link href="~/js/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/js/php/contact-form.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/content-box.css" />
    <link rel="stylesheet" href="~/css/image-box.css" />
    <link rel="stylesheet" href="~/css/animations.css" />
    <link rel="stylesheet" href="~/css/components.css" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/css/contact-form.css" />
    <link rel="stylesheet" href="~/css/social.stream.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/skin.css" rel="stylesheet" />

</head>
<body>
    <header class="fixed-top scroll-change" data-menu-anima="fade-in">
        <div class="navbar navbar-default mega-menu-fullwidth navbar-fixed-top" role="navigation">
            <div class="navbar-mini scroll-hide">
                <div class="container">
                    <div class="nav navbar-nav navbar-left">
                        <span><a style="color:#7B7B7B" href="tel:+77272731363"><i class="fa fa-phone"></i>+7-727-2731363</a></span>
                        <hr />
                        <span><a style="color:#7B7B7B" href="mailto:info@qaimaq.tech"><i class="fa fa-envelope"></i>info@qaimaq.tech</a></span>
                        <hr />
                        <span><i class="fa fa-map-marker"></i>64 Zhibek Zholy, Kazakhstan</span>
                        <hr />
                        <span><i class="fa fa-calendar"></i>Mon - Fri: 9.00 - 18:00</span>
                    </div>
                    <div class="nav navbar-nav navbar-right">
                        <div class="minisocial-group">
                            <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-facebook first"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-vk"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-main">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="@Url.Action("Index","Home")">
                            <img class="logo-default" src="../images/logo.png" alt="logo" />
                            <img class="logo-retina" src="../images/logo-retina.png" alt="logo" />
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="dropdown mega-dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Services <span class="caret"></span></a>
                                <div class="mega-menu dropdown-menu multi-level row bg-menu">
                                    <div class="col-md-4">
                                        <ul class="fa-ul no-icons text-s">
                                            <li><a href="">Business Intelligence</a></li>
                                            <li><a href="">Web Development</a></li>
                                            <li><a href="">IT Consulting</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="fa-ul no-icons text-s">
                                            <li><a href="">IT Outsource</a></li>
                                            <li><a href="">Structured Сabling</a></li>
                                            <li><a href="">Alerting System</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="fa-ul no-icons text-s">
                                            <li><a href="">Fire Alarm System</a></li>
                                            <li><a href="">Access control</a></li>
                                            <li><a href="">Video Surveillance System</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Sales <span class="caret"></span></a>
                                <ul class="dropdown-menu multi-level fade-in" style="transition-duration: 300ms; animation-duration: 300ms; transition-timing-function: ease; transition-delay: 0ms;">
                                    <li class="dropdown dropdown-submenu">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Software</a>
                                        <ul class="dropdown-menu fade-in" style="transition-duration: 300ms; animation-duration: 300ms; transition-timing-function: ease; transition-delay: 0ms;">
                                            <li><a href="">Server Systems</a></li>
                                            <li><a href="">Productivity</a></li>
                                            <li><a href="">Security</a></li>
                                            <li><a href="">Cloud</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown dropdown-submenu">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Hardware</a>
                                        <ul class="dropdown-menu fade-in" style="transition-duration: 300ms; animation-duration: 300ms; transition-timing-function: ease; transition-delay: 0ms;">
                                            <li><a href="">Servers</a></li>
                                            <li><a href="">Computers</a></li>
                                            <li><a href="">UPS</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown dropdown-submenu">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown">IT Infrastructure</a>
                                        <ul class="dropdown-menu fade-in" style="transition-duration: 300ms; animation-duration: 300ms; transition-timing-function: ease; transition-delay: 0ms;">
                                            <li><a href="">Cables</a></li>
                                            <li><a href="">Network Equipment</a></li>
                                            <li><a href="">Telco Eqiupment</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a asp-controller="Projects" asp-action="Index">Portfolio</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="About">About</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Contact">Contact</a>
                            </li>
                        </ul>
                        <div class="nav navbar-nav navbar-right">
                            <div class="search-box-menu">
                                <div class="search-box scrolldown">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                </div>
                                <button type="button" class="btn btn-default btn-search">
                                    <span class="fa fa-search"></span>
                                </button>
                            </div>
                            <ul class="nav navbar-nav lan-menu">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><img src="~/images/en.png" alt="" />En<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Kazakh</a></li>
                                        <li><a href="#">Russian</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
    <footer class="footer-base">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-left text-left">
                        <img src="~/images/qaimaq-footer-logo.png" />

                        <hr class="space m" />
                        <p class="text-s">64 Zhibek Zholy. A26F3M9, Almaty, Kazakhstan.</p>
                        <div class="tag-row text-s">
                            <span>info@qaimaq.tech</span>
                            <span>+7 727 2731363</span>
                        </div>
                        <hr class="space m" />
                        <div class="btn-group social-group btn-group-icons">
                            <a target="_blank" href="#" data-social="share-facebook">
                                <i class="fa fa-facebook text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-twitter">
                                <i class="fa fa-twitter text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-google">
                                <i class="fa fa-google-plus text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-linkedin">
                                <i class="fa fa-linkedin text-xs circle"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 footer-left text-left">
                        <div class="row">
                            <div class="col-md-6 text-s">
                                <h3>Menu</h3>
                                <a href="#">Home</a><br />
                                <a href="#">Contacts</a><br />
                                <a href="#">Future projects</a><br />
                                <a href="#">Locations</a><br />
                                <a href="#">Latest news</a><br />
                            </div>
                            <div class="col-md-6 text-s">
                                <h3>Pages</h3>
                                <a href="#">Support</a><br />
                                <a href="#">Terms of services</a><br />
                                <a href="#">RSS Feeds</a><br />
                                <a href="#">Partnerships</a><br />
                                <a href="#">Latest news</a><br />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 footer-left text-left">
                        <h3>You can trust us</h3>
                        <p class="text-s">
                            Utenim ad minim veniam quis nostrud exercitation ullamco lorem ipsum dolor sit ametullamco lorem ipsum dolor sit ametullamco lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmo.
                        </p>
                        <hr class="space xs" />
                        <img src="../images/cards-icon.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="row copy-row">
                <div class="col-md-12 copy-text">
                    © 2018 Designed and Developed by <a href="https://qaimaq.tech/">Qaimaq</a>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="../HTWF/scripts/font-awesome/css/font-awesome.css">

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.slimscroll.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.progress-counter.js"></script>
    <script src="~/js/jquery.tab-accordion.js"></script>
    <script src="~/js/bootstrap.popover.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/imagesloaded.min.js"></script>
    <script src="~/js/parallax.min.js"></script>
    <script src="~/js/flexslider/jquery.flexslider-min.js"></script>
    <script src="~/js/isotope.min.js"></script>
    <script src="~/js/php/contact-form.js"></script>
    <script src="~/js/social.stream.min.js"></script>
    <script src="~/js/smooth.scroll.min.js"></script>
    <script src="~/js/site.js"></script>


    @RenderSection("Scripts", required: false)

</body>
</html>
