@{
    ViewData["Title"] = "IT-Outsourcing";
}

<div class="header-title white" data-parallax="scroll" data-position="top" data-natural-height="650" data-natural-width="1920" data-image-src="../images/bg-2.jpg">
    <div class="container">
        <div class="title-base">
            <hr class="anima" />
            <h1>IT аутсорсинг</h1>
            <p>Постоянная поддержка бизнеса</p>
        </div>
    </div>
</div>
<div class="section-bg-color section-item">
    <div class="container content">
        <div class="row fade-left" data-fullpage-anima="fade-left" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="fade-left" aid="0.1678568061021839">
            <div class="col-md-3">
                <div class="icon-box">
                    <div class="icon-box-cell">
                        <i class="fa fa-heartbeat text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <label class="text-m">Обслуживание серверной техники</label>
                        <p class="text-s"> Настройка и обслуживание серверного оборудования. IT-аутсорсинг систем и инфраструктуры</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="icon-box">
                    <div class="icon-box-cell">
                        <i class="fa fa-globe text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <label class="text-m">Обслуживание компьютеров</label>
                        <p class="text-s"> Настройка и обслуживание компьютеров любого форм-фактора и версий операционной системы.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="icon-box">
                    <div class="icon-box-cell">
                        <i class="fa fa-flask text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <label class="text-m">Обслуживание сетевого окружения</label>
                        <p class="text-s"> Настройка и обслуживание сетевого оборудования. Обеспечение отказоустойчивости сети</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="icon-box">
                    <div class="icon-box-cell">
                        <i class="fa fa-life-ring text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <label class="text-m">Поддержка телеком оборудования</label>
                        <p class="text-s"> Настройка и обслуживание радио и специализированных станций. Прокладка СКС и настройка ПО.</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="space " />
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-normal">IT-аутсорсинг</h2>
                <p class="text-color text-normal no-margins">Поддержка бизнеса</p>

                <p>
                    IT-аутсорсинг - одно из основных направлений компании Qaimaq, наша задача это высококачественное сопровождение Вашего бизнеса настоящими профессионалами нашей компании.<br />
                    В услуги it-аутсорсинга входят:
                    <ul>
                        <li>Обслуживание компьютеров</li>
                        <li>Обслуживание серверов</li>
                        <li>Еженельные плановые выезды</li>
                        <li>Установка лицензионного антивируса на все компьютеры в офисе</li>
                        <li>Удаленная поддержка</li>
                    </ul>
                </p>
                <hr class="space s" />

            </div>
            <div class="col-md-6 boxed-inverse shadow-2">
                <p>
                    IT - это неотъемлемая часть современного бизнеса. Большинство компаний сталкиваются с проблемами поиска и содержания штатного IT-специалиста. Вам больше не стоит тратить время и деньги на поиск штатного IT-специалиста и ежегодное повышение его квалификации.

                    Qaimaq готова предоставить Вам широкий спектр услуг в сфере IT-аутсорсинга. Мы предлагаем комплексные решение по администрированию и обслуживанию серверов, обслуживание компьютеров и рабочих станций. Наши специалисты позволят Вам продвигать свой бизнес не отвлекаясь на операционные вопросы в сфере IT. IT-аутсорсинг от компании Qaimaq поможет Вам и Вышему бизнесу быть всегда на волне IT-инноваций.

                </p>
            </div>
        </div>
        <hr class="space" />
        <hr class="space s" />
        @*<div class="row">
            <div class="col-md-3 col-sm-6 boxed-inverse shadow-2 text-center">
                <div class="progress-circle" data-color="#F3B007" data-progress="20">
                    <div class="inner-circle">
                        <div class="inner-center">
                            <div class="subtitle c">
                                <h2 class="main">OLD MATERIALS</h2>
                                <span class="counter-circle"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 boxed-inverse shadow-2 text-center">
                <div class="progress-circle" data-color="#F3B007" data-progress="90">
                    <div class="inner-circle">
                        <div class="inner-center">
                            <div class="subtitle c">
                                <h2 class="main">GREEN AND ECO</h2>
                                <span class="counter-circle"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <hr class="space visible-sm" />
                <h2 class="text-normal">Renovation and buildings</h2>
                <p class="text-color text-normal no-margins">Cheap prices</p>
                <hr class="space s" />
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed d in voluptate velit esse cillum dolore eu fugiat nulla pariaturo eiusmod tempor incididunt utlabore et dolore magna aliqua.
                    Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo construd exercitation ullamco laboris nisi uadipiscing elitsed do eiusmod tempor incididunt sequat.
                </p>
                <hr class="space s" />
                <div class="row vertical-row">
                    <div class="col-md-3">
                        <p class="text-normal">Success rate</p>
                    </div>
                    <div class="col-md-9">
                        <hr class="space xs" />
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" data-progress="100">
                                <span><span>100%</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="space" />
        <hr class="space s" />
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-normal">Outdoor and gardening</h2>
                <p class="text-color text-normal no-margins">Green technologies</p>
                <hr class="space s" />
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed d in voluptate velit esse cillum dolore eu fugiat nulla pariaturo eiusmod tempor incididunt utlabore et dolore magna aliqua.
                    Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo construd exercitation ullamco laboris nisi uadipiscing elitsed do eiusmod tempor incididunt sequat.
                </p>
                <hr class="space s" />
                <a href="#" class="btn-border btn btn-sm">More details</a><span class="space"></span>
                <a href="#" class="btn btn-sm">Contact us</a>
            </div>
            <div class="col-md-6">
                <div class="grid-list gallery">
                    <div class="grid-box row" data-lightbox-anima="fade-top">
                        <div class="grid-item col-md-6">
                            <a class="img-box row-5 shadow-2" href="../images/gallery/image-3.jpg">
                                <img src="../images/gallery/image-3.jpg" alt="" />
                            </a>
                        </div>
                        <div class="grid-item col-md-6">
                            <a class="img-box row-5 shadow-2" href="../images/gallery/image-2.jpg">
                                <img src="../images/gallery/image-2.jpg" alt="" />
                            </a>
                        </div>
                        <div class="grid-item col-md-6">
                            <a class="img-box row-5 shadow-2" href="../images/gallery/image-16.jpg">
                                <img src="../images/gallery/image-16.jpg" alt="" />
                            </a>
                        </div>
                        <div class="grid-item col-md-6">
                            <a class="img-box row-5 shadow-2" href="../images/gallery/image-4.jpg">
                                <img src="../images/gallery/image-4.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>
<div class="section-empty">
    <div class="container content">
        <div class="row vertical-row">
            <div class="col-md-6">
                <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax form-inline" method="post" data-email="federico@pixor.it">
                    <input id="email" name="email" placeholder="Type your email..." type="email" class="form-control form-value" required="">
                    <hr class="space m">
                    <button class="btn btn-sm" type="submit">Join now</button>
                    <div class="success-box">
                        <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                    </div>
                    <div class="error-box">
                        <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <p class="text-s">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod iaculis eu
                    lacus nunc mi elitvehicula ut laoreet acaliquam.
                </p>
            </div>
        </div>
    </div>
</div>
<i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>