@{
    ViewData["Title"] = "Web Development";
}

<div class="header-title white" data-parallax="scroll" data-position="top" data-natural-height="650" data-natural-width="1920" data-image-src="../images/bg-2.jpg">
    <div class="container">
        <div class="title-base">
            <hr class="anima" />
            <h1>Веб разработка</h1>
            <p>Корпоративные решения с максимальной защитой</p>
        </div>
    </div>
</div>
<div class="section-bg-color section-item">
    <div class="container content">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-normal">Корпоративные сайты</h2>
                <p class="text-color text-normal no-margins">Узнаваемость путь к успеху!</p>
                <hr class="space s" />
                <p>
                    Разработка уникального надежного веб ресурса компании с учетом корпоративного Brand Book-a
                </p>
                <hr class="space s" />
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="icon-box counter-box-icon">
                            <div class="icon-box-cell">
                                <i class="fa fa-thumbs-up text-l"></i>
                            </div>
                            <div class="icon-box-cell">
                                <label class="counter text-m" data-speed="10000" data-to="45">45</label>
                                <p class="text-s">Довольных клиентов</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="icon-box counter-box-icon">
                            <div class="icon-box-cell">
                                <i class="fa fa-plus-square text-l"></i>
                            </div>
                            <div class="icon-box-cell">
                                <label class="counter text-m" data-speed="10000" data-to="38">38</label>
                                <p class="text-s">Партнеров</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 boxed-inverse shadow-2">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                    Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi uadipiscing elitsed do eiusmod tempor incididunt ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </div>
        <hr class="space" />
        <hr class="space s" />
        <div class="row">
            <div class="col-md-3 col-sm-6 boxed-inverse shadow-2 text-center">
                <div class="progress-circle" data-color="#c91010" data-progress="78">
                    <div class="inner-circle">
                        <div class="inner-center">
                            <div class="subtitle c">
                                <h2 class="main">Прибыль</h2>
                                <span class="counter-circle"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 boxed-inverse shadow-2 text-center">
                <div class="progress-circle" data-color="#c91010" data-progress="67">
                    <div class="inner-circle">
                        <div class="inner-center">
                            <div class="subtitle c">
                                <h2 class="main">Прирост продаж</h2>
                                <span class="counter-circle"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <hr class="space visible-sm" />
                <h2 class="text-normal">Онлайн торговые площадки</h2>
                <p class="text-color text-normal no-margins">Открой себя миру!</p>
                <hr class="space s" />
                <p>
                    Внедрение торговых платформ для продающих компаний. Мощное управление скаладми, макретинговыми программами и процессом продаж онлайн
                </p>
                <hr class="space s" />
                <div class="row vertical-row">
                    <div class="col-md-3">
                        <p class="text-normal">Эффективность</p>
                    </div>
                    <div class="col-md-9">
                        <hr class="space xs" />
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" data-progress="94">
                                <span><span>94%</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="space" />
        <hr class="space s" />
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-normal">Платформы онлайн обучения</h2>
                <p class="text-color text-normal no-margins">
                    Сертификации и курсы
                </p>
                <hr class="space s" />
                <p>
                    Корпоративные порталы для онлайн обучения. Быстрое автоматизированное управление процессом обучения и материалами для учащихся
                </p>
                <hr class="space s" />
                <a href="#" class="btn-border btn btn-sm">Подробнее</a><span class="space"></span>
                <a href="#" class="btn btn-sm">Связаться</a>
            </div>
            <div class="col-md-6">
                <div class="grid-list gallery">
                    <div class="grid-box row" data-lightbox-anima="fade-top">
                        <div class="grid-item col-md-6">
                            <a class="img-box row-5 shadow-2" href="../images/gallery/image-3.jpg">
                                <img src="../images/gallery/image-3.jpg" alt="" />
                            </a>
                        </div>
                        <div class="grid-item col-md-6">
                            <a class="img-box row-5 shadow-2" href="../images/gallery/image-2.jpg">
                                <img src="../images/gallery/image-2.jpg" alt="" />
                            </a>
                        </div>
                        <div class="grid-item col-md-6">
                            <a class="img-box row-5 shadow-2" href="../images/gallery/image-16.jpg">
                                <img src="../images/gallery/image-16.jpg" alt="" />
                            </a>
                        </div>
                        <div class="grid-item col-md-6">
                            <a class="img-box row-5 shadow-2" href="../images/gallery/image-4.jpg">
                                <img src="../images/gallery/image-4.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-empty">
    <div class="container content">
        <div class="row vertical-row">
            <div class="col-md-6">
                <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax form-inline" method="post" data-email="federico@pixor.it">
                    <input id="email" name="email" placeholder="Type your email..." type="email" class="form-control form-value" required="">
                    <hr class="space m">
                    <button class="btn btn-sm" type="submit">Join now</button>
                    <div class="success-box">
                        <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                    </div>
                    <div class="error-box">
                        <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <p class="text-s">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod iaculis eu
                    lacus nunc mi elitvehicula ut laoreet acaliquam.
                </p>
            </div>
        </div>
    </div>
</div>
<i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>